
.button-group {
    display: grid;
    grid-template-columns: 40% 1fr;
    column-gap: 2rem;
}

.btn.btn-outline-primary {
    border: 1px solid #134A89 !important;
    color: #134A89;

    &:hover {
        background: #134A89;
        color: #ffffff;
    }
}

.btn.btn-primary {
    border: none !important;
    color: #ffffff;
    background: #134A89;

    &:hover {
        background: #024088;
    }
}