<div class="row">
    <div class="attached col-md-6 mx-auto" style="padding-top: 8rem;">
  
      <section class="mb-4">
          <div class="top">
              <h2 style="color: #363E59; font-size: 32px;" class="top__text-header">คุณได้แจ้งข้อมูลบัญชีธนาคารเรียบร้อยแล้ว</h2>
          </div>
      </section>

      <section>
        <div class="image-wrap text-center py-4">
            <img src="../../../../../assets/images/bank-account-completed-icon.svg" alt="">
        </div>
      </section>

      <section class="form__group">
        <button class="btn btn-primary btn-lg w-100" (click)="onCompleted()">เสร็จสิ้น</button>
      </section>

    </div>
  </div>
  