:root {
  // BRAN COLOR
  --brand-gray: #f0f1f6;
  --brand-blue: #001d3e;
  --brand-gold: #cbb677;
  --brand-light-gold: #e1d6b4;
  --brand-brown: #c5ad96;
  --brand-light-brown: #e3d5c8;

  // TEXT COLOR
  --text-error: #d43853;
  --text-body: #363e59;
  --text-header: #171b29;
  --text-white: #ffffff;
  --text-sucess: #52b495;
  --text-warning: #ffd336;
  --text-helper: #888ea5;

  // SURFACE COLOR
  --surface-primary: #ffffff;
  --surface-secondary: #f0f1f6;
  --surface-header: #001d3e;

  // FORM AND BORDER COLOR
  --disable-container: #c5c9d8;
  --container-border: #e2e4ed;
  --disable-border: #c5c9d8;
  --form-border: #a3aabf;
}

$primary: #001d3e;
$secondary: #888ea5;
$success: #30a480;
$info: #98accc;
$light: #ffffff;
$dark: #363e59;
$bg-btn: #144a89;

// $brand-gray: #f0f1f6;
// $brand-blue: #001d3e;
// $brand-gold: #cbb677;
// $brand-light-gold: #e1d6b4;
// $brand-brown: #c5ad96;
// $brand-light-brown: #e3d5c8;

// // TEXT COLOR
// $text-error: #d43853;
// $text-body: #363e59;
// $text-header: #171b29;
// $text-white: #ffffff;
// $text-sucess: #52b495;
// $text-warning: #ffd336;
// $text-helper: #888ea5;

// // SURFACE COLOR
// $surface-primary: #ffffff;
// $surface-secondary: #f0f1f6;
// $surface-header: #001d3e;

// // FORM AND BORDER COLOR
// $disable-container: #c5c9d8;
// $container-border: #e2e4ed;
// $disable-border: #c5c9d8;
// $form-border: #a3aabf;
