@font-face {
  font-family: "PromptMedium";
  src: url(../font/Prompt-Medium.ttf);
}

@font-face {
  font-family: "PromptRegular";
  src: url(../font/Prompt-Regular.ttf);
}

@font-face {
  font-family: "PromptThin";
  src: url(../font/Prompt-Thin.ttf);
}


@font-face {
  font-family: "PromptThinItalic";
  src: url(../font/Prompt-ThinItalic.ttf);
}