<div class="account">
    <div class="container">

        <div class="row" style="padding-top: 10rem;">
 
            <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 mb-5">
                <p class="mb-1 text-head" style="font-size: 24px; color: #363E59;">เลื่อกรูปแบบที่ต้องการสมัคร</p>
                <small class="text-title" style="font-size: 12px; color: #888EA5;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
            </div>

            <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 d-flex flex-column flex-md-row gap-md-5">

                <div class="box border rounded mb-3 mb-md-0 text-center d-md-flex align-items-md-center justify-content-md-center" routerLink="/auth/registor-personal">
                    <img class="image-fluid rounded-4 mb-md-3" src="../../../../assets/images/user-image.webp" alt="">
                    <span style="color: #363E59;">บุคคลธรรมดา</span>
                </div>

                <div class="box border rounded d-md-flex align-items-md-center justify-content-md-center" routerLink="/auth/registor-corporate">
                    <img class="image-fluid rounded-4 mb-md-3" src="../../../../assets/images/user-image.webp" alt="">
                    <div class="d-md-flex flex-md-column align-items-center">
                        <p class="mb-0" style="color: #363E59;">นิติบุคลคล</p>
                        <p class="mb-0" style="font-size: 10px; color: #888EA5;">สมัครในนามร้านทอง/ นิติบุคคล/ กลุ่มองค์กร</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>