<div class="enter-pin" (click)="pointerFocus()">

    <div class="enter-pin__card" (click)="pointerFocus()">

        <div class="enter-pin__header">
            <!-- <i class="bi bi-x-lg enter-pin__icon"></i> -->
        </div>

        <div class="enter-pin__body">

            <img src="../../../../assets/images/enter-pin-ausiris-logo.svg" class="enter-pin__logo mb-3" alt="">

            <h3 class="text-light enter-pin__text-head">Enter your PIN</h3>
            <small class="text-light ente-pin__tex-title">Please enter your pin</small>

            <!-- circle -->
            <div class="enter-pin__dots">
                <div class="enter-pin__dot"></div>
                <div class="enter-pin__dot"></div>
                <div class="enter-pin__dot"></div>
                <div class="enter-pin__dot"></div>
                <div class="enter-pin__dot"></div>
                <div class="enter-pin__dot"></div>
            </div>
        </div>
        <input type="text" id="pinInput" #pinInput maxlength="6"> <br>

        <div class="enter-pin__footer">
            <!-- <small class="text-light">ลืมรหัสผ่าน ?</small> -->
        </div>

    </div>

</div>
