
<div class="pin">

    <div class="container" style="padding-top: 8rem;">

        <div class="row">

            <div class="col-12 col-md-6 offset-md-3">
                <div class="pin__card w-100">
                    <div class="pin__icon-wrap text-center">
                        <img src="../../../../../assets/images/pin-logo.svg" class="pin__icon" width="100" alt="">
                    </div>
                    <h2 class="pin__head mb-md-3">ตั้งรหัส PIN เข้าระบบ</h2>
                    <small class="pin__title mb-md-5 d-block">PIN หรือรหัสลับใช้ในการยืนยันธุรกรรม เช่น ส่งคำสั่งซื้อขาย</small>
                    <button class="btn btn-primary w-100 btn-lg" routerLink="/auth/enter-pin">ดำเนินการ</button>
                </div>
            </div>

        </div>

    </div>

</div>