<div class="contact">

    <div class="container">

        <div class="row p-4">
    
            <div class="col-md-6">
                <div class="contact__left">
                    <h3 class="mb-md-5" style="font-size: 32px; color: #363E59;">ติดต่อเรา</h3>

                    <ul class="contact__list m-0 p-0" style="list-style: none;">
                        <li class="contact__item d-flex align-items-center border-bottom py-4 gap-4">
                            <img src="../../../../../assets/images/line-icon.svg" alt="">
                            <p class="m-0">@ausirisgold</p>
                        </li>
                        <li class="contact__item d-flex align-items-center border-bottom py-4 gap-4">
                            <img src="../../../../../assets/images/fb-icon.svg" alt="">
                            <p class="m-0">Ausirisgold</p>
                        </li>
                        <li class="contact__item d-flex align-items-center border-bottom py-4 gap-4">
                            <img src="../../../../../assets/images/instargram-icon.svg" alt="">
                            <p class="m-0">Ausiris_gold</p>
                        </li>
                        <li class="contact__item d-flex align-items-center border-bottom py-4 gap-4">
                            <img src="../../../../../assets/images/phone-icon.svg" alt="">
                            <p class="m-0">02-613-0888</p>
                        </li>
                        <li class="contact__item d-flex align-items-center border-bottom py-4 gap-4">
                            <img src="../../../../../assets/images/mail-icon.svg" alt="">
                            <p class="m-0">contact@ausiris.co.th</p>
                        </li>
                        <li class="contact__item d-flex align-items-center border-bottom py-4 gap-4">
                            <img src="../../../../../assets/images/home-icon.svg" alt="">
                            <p class="m-0">www.ausiris.com</p>
                        </li>
                    </ul>
                </div>


            </div>

            <div class="col-md-6">
                <div class="contact__right rounded bg-white p-4">
                    <section class="d-flex align-items-center gap-3 mb-4">
                        <img src="../../../../../assets/images/bg-mail-icon.svg" alt="">
                        <p class="m-0" style="font-size: 20px; color: #363E59;">ติดต่อเราที่นี่</p>
                    </section>

                    <section>
                        <form>

                            <!-- ชื่อ -->
                        <div class="form__group d-flex flex-column mb-3">
                            <label for="" class="form__label" style="font-size: 16px; color: #888EA5;">ชื่อ</label>
                            <!-- [ngClass]="{'border-danger': firstName.invalid && firstName.dirty}" -->
                            <input type="text" formControlName="firstName"  class="form__control border rounded p-2">
                        </div>


                            <!-- กรอกเบอร์มือถือ -->
                        <div class="form__group mb-3">
                            <label class="form__label" style="font-size: 16px; color: #888EA5;">เบอร์มือถือ</label>
                            <!-- [ngClass]="{'border-danger': mobile.invalid && mobile.dirty}" -->
                            <div class="form__input-wrap d-flex mb-1 px-2 border rounded p-2"   id="mobile-wrap">
                                <img src="../../../../assets/images/flag_thai.svg" alt="">
                                <select name="" id="" class="border-0">
                                    <option value="TH">+66</option>
                                </select>
                                <!-- (keyup)="onValidateOnlyNumber($event, 'mobile')" -->
                                <input type="text" formControlName="mobile"  class="form__control border-0 w-100 ps-2" placeholder="เบอร์มือถือ" maxlength="10"> 
                            </div>
                        </div>

                        <!-- อีเมล์ -->
                        <div class="form__group mb-3">
                            <label class="form__label" style="font-size: 16px; color: #888EA5;" for="email">อีเมล์</label>
                            <div class="form__input-wrap">
                                <input type="text" formControlName="firstName" id="email" class="form__control border rounded p-2 w-100">
                            </div>
                            <!-- <div class="form__validators" *ngIf="email.errors">
                                <p class="m-0" *ngIf="email.hasError('required') && (email.invalid && email.dirty)">กรุณากรอกอีเมล์ </p>
                                <p class="m-0" *ngIf="email.hasError('pattern')">รูปแบบอีเมล์ไม่ถูกต้อง </p>
                            </div> -->
                        </div>

                        <!-- ช่องทางการติดต่อ -->
                        <div class="form__group mb-3">
                            <label class="form__label mb-1" style="font-size: 16px; color: #888EA5;" for="email">เลือกช่องทางการติดต่อ</label>
                            <div class="d-flex gap-4">
                                <div class="d-flex gap-2">
                                    <input type="radio" id="mail" name="fav_language" checked value="HTML"> 
                                    <label for="mail" style="font-size: 16px; color: #888EA5;">อีเมล์</label> 
                                </div>
                                <div class="d-flex gap-2">
                                    <input type="radio" id="mobile" name="fav_language" value="HTML"> 
                                    <label for="mobile" style="font-size: 16px; color: #888EA5;">เบอร์โทรศัพท์</label> 
                                </div>
                            </div>
                        </div>

                        <!-- ข้อความ -->
                        <div class="form__group mb-3">
                            <label class="form__label" style="font-size: 16px; color: #888EA5;" for="email">ข้อความ</label>
                            <div>
                                <textarea cols="30" rows="4" class="w-100 border rounded p-2" placeholder="ข้อความ"></textarea>
                            </div>
                        </div>

                        <div class="form__group">
                            <div>
                                <button class="btn btn-primary btn-lg w-100">ส่ง</button>
                            </div>
                        </div>
                    
                        </form>
                    </section>
                </div>
            </div>
            <div class="col-md-12">
                <section>
                    <h3 class="mb-md-5" style="font-size: 32px; color: #363E59;">สาขาของเรา</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card border-0 border-0 p-3">
                                <ul>
                                    <li class="d-flex align-items-center border-bottom gap-2 py-2 mb-2">
                                        <img src="../../../../../assets/images/branch-icon.svg" alt="">
                                        <p class="m-0" style="font-size: 20px; color: #363E59;">ออสสิริส สาขาสีลม</p>
                                    </li>
                                    <li class="d-flex align-items-start gap-2 mb-3">
                                        <img src="../../../../../assets/images/map-marker-alt.svg" alt="">
                                        <p class="m-0" style="font-size: 16px; color: #363E59;">อาคาร ยูไนเต็ด เซ็นเตอร์ 323 ชั้น G ถนนสีลม แขวงสีลม เขตบางรัก กรุงเทพฯ 10500 <br>
                                            <a href="" class="text-decoration-none">เปิดแผนที่</a>
                                        </p>
                                        
                                    </li>
                                    <li class="d-flex align-items-start gap-2 mb-3">
                                        <img src="../../../../../assets/images/phone.svg" alt="">
                                        <p class="m-0" style="font-size: 16px; color: #363E59;">02-613-4711</p>
                                    </li>
                                    <li class="d-flex align-items-start gap-2 mb-3">
                                        <img src="../../../../../assets/images/clock.svg" alt="">
                                        <div>
                                            <p class="m-0" style="font-size: 16px; color: #363E59;">จันทร์ - ศุกร์  09.30 น. - 16.30 น.</p>
                                            <p class="m-0" style="font-size: 16px; color: #363E59;">เสาร์  09.30 น. - 11.30 น.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-0 p-3">
                                <ul>
                                    <li class="d-flex align-items-center border-bottom gap-2 py-2 mb-2">
                                        <img src="../../../../../assets/images/branch-icon.svg" alt="">
                                        <p class="m-0" style="font-size: 20px; color: #363E59;">ออสสิริส สาขาสีลม</p>
                                    </li>
                                    <li class="d-flex align-items-start gap-2 mb-3">
                                        <img src="../../../../../assets/images/map-marker-alt.svg" alt="">
                                        <p class="m-0" style="font-size: 16px; color: #363E59;">857 ถนนมหาไชย แขวงวังบูรพาภิรมย์ เขตพระนคร กรุงเทพฯ 10200<br>
                                            <a href="" class="text-decoration-none">เปิดแผนที่</a>
                                        </p>
                                        
                                    </li>
                                    <li class="d-flex align-items-start gap-2 mb-3">
                                        <img src="../../../../../assets/images/phone.svg" alt="">
                                        <p class="m-0" style="font-size: 16px; color: #363E59;">02-623-6751</p>
                                    </li>
                                    <li class="d-flex align-items-start gap-2 mb-3">
                                        <img src="../../../../../assets/images/clock.svg" alt="">
                                        <div>
                                            <p class="m-0" style="font-size: 16px; color: #363E59;">จันทร์ - ศุกร์  09.30 น. - 17.00 น.</p>
                                            <p class="m-0" style="font-size: 16px; color: #363E59;">เสาร์ 09.30 น. - 11.30 น.

                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-0 p-3">
                                <ul>
                                    <li class="d-flex align-items-center border-bottom gap-2 py-2 mb-2">
                                        <img src="../../../../../assets/images/branch-icon.svg" alt="">
                                        <p class="m-0" style="font-size: 20px; color: #363E59;">ออสสิริส สาขาสีลม</p>
                                    </li>
                                    <li class="d-flex align-items-start gap-2 mb-3">
                                        <img src="../../../../../assets/images/map-marker-alt.svg" alt="">
                                        <p class="m-0" style="font-size: 16px; color: #363E59;">32/7-8 ถนนสุรศักดิ์ แขวงสีลม เขตบางรัก กรุงเทพฯ 10500<br>
                                            <a href="" class="text-decoration-none">เปิดแผนที่</a>
                                        </p>
                                        
                                    </li>
                                    <li class="d-flex align-items-start gap-2 mb-3">
                                        <img src="../../../../../assets/images/phone.svg" alt="">
                                        <p class="m-0" style="font-size: 16px; color: #363E59;">02-613-4711</p>
                                    </li>
                                    <li class="d-flex align-items-start gap-2 mb-3">
                                        <img src="../../../../../assets/images/clock.svg" alt="">
                                        <div>
                                            <p class="m-0" style="font-size: 16px; color: #363E59;">จันทร์ - ศุกร์  08.30 น. - 17.30 น.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
    
        </div>
    
    </div>

</div>