<div class="camera">
    <div class="container">
        <div class="row align-items-center justify-content-center vh-100">
            <div class="col-md-8 text-center">
                <div class="camera__capture">


                    <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                    [videoOptions]="videoOptions"
                    [imageQuality]="1"
                    (initError)="handleInitError($event)"></webcam>

                    <div class="face-focus"></div>
                    
                    <p class="recommend">นำใบหน้าของคุณเข้ามาอยู่ในกรอบของกล้อง</p>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary" [disabled]="!buttonStatus" (click)="triggerSnapshot();">กด ถ่ายรูป</button>
                </div>
            </div>
        </div>
    </div>
</div>