$border: 1px dashed #fff;

.camera__capture {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.face-focus {
    width: 20%;
    height: 50%;

    border: $border;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


}

.recommend {
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    // font-size: 20px;
}