
<div class="row">
    <div class="col-md-8 offset-md-2 d-flex flex-column justify-content-between vh-100 pb-4" style="padding-top: 6rem;">

        <div class="bank-account" >
            <section class="mb-4">
                <div class="top">
                    <h2 style="color: #363E59; font-size: 32px;" class="top__text-header">เลือกประเภทบัญชี</h2>
                    <small style="color: #888EA5; font-size: 20px;" class="top__text-title">โปรดเลือกประเภทบัญชีผลิตภัณฑ์ที่คุณต้องการเปิดบัญชี</small>
                </div>
            </section>

            <section class="" routerLink="/bank-account/KycPage12" style="cursor: pointer;">

                <div class="card border flex-row align-items-center p-3 mb-2">
                    <div class="card__left me-3">
                        <div class="card__image-wrap">
                            <img src="../../../../assets/images/collateral-icon.svg" alt="">
                        </div>
                    </div>
                    <div class="card__right">
                        <p style="font-size: 20px; color: #363E59;">เงินหลักประกัน (Collateral)</p>
                        <small style="font-size: 16px; color: #888EA5;">บัญชีซื้อขายแบบใช้หลักประกัน ใช้เงินหลักประกันเพื่อ ให้มีวงเงินซื้อ-ขายมีกำหนดชำระเงินหลังจากการสั่งซื้อ และกำหนด ส่งมอบหลังจากสั่งขาย ภายใน 2 วันทำการ (ชำระT+2)</small>

                    </div>
                </div>

                <div class="card border flex-row align-items-center p-3 mb-2">
                    <div class="card__left me-3">
                        <div class="card__image-wrap">
                            <img src="../../../../assets/images/cash-balance-icon.svg" alt="">
                        </div>
                    </div>
                    <div class="card__right">
                        <p style="font-size: 20px; color: #363E59;">Cash Balance</p>
                        <small style="font-size: 16px; color: #888EA5;">บัญชีชำระเต็มเมื่อสั่งซื้อซื้อได้เท่ากับเงินที่มีในบัญชีธนาคารที่พร้อมให้ตัดเงินและขายได้ตามจำนวนทองที่มีใน พอร์ท</small>
                    </div>
                </div>

                <div class="card border flex-row align-items-center p-3 mb-2">
                    <div class="card__left me-3">
                        <div class="card__image-wrap">
                            <img src="../../../../assets/images/gold-saving-icon.svg" alt="">
                        </div>
                    </div>
                    <div class="card__right">
                        <p style="font-size: 20px; color: #363E59;">ออมทอง ( Gold Saving ) </p>
                        <small style="font-size: 16px; color: #888EA5;">บัญชีออมทองออมทองของออสสิริสซื้อทองเก็บรายเดือนเริ่มต้นเพียง 1,000 บาท </small>
                    </div>
                </div>

            </section>
        </div>

        <div class="card border flex-row align-items-center border-0 px-3 py-2 mb-0" style="background: linear-gradient(211.2deg, #FFFFFF -80.62%, #E7EDF3 48.01%);">
            <div class="card__left me-3">
                <div class="card__image-wrap">
                    <img src="../../../../assets/images/portfolio-type-icon.svg" alt="">
                </div>
            </div>
            <div class="card__right">
                <p class="m-0" style="font-size: 16px; color: #363E59;">Portfolio Type</p>
                <small style="font-size: 16px; color: #363E59;">Learn more about portoflio</small>
            </div>
        </div>

    </div>
</div>
