<div class="top">
    <div class="top__left">
        <img class="top__logo" src="../../../../assets/images/ausiris-logo-login.svg" routerLink="/" alt="brand-logo">
        <div class="top__line"></div>
        <i class="fas fa-chevron-left top__arrow-left" (click)="navigationService.goBack()"></i>
    </div>
    <div class="top__right"> 
        <ul class="top__list">
            <li class="top__item">
                <img class="top__icon" src="../../../../assets/images/globe.svg" alt="globe">
                <span class="top__text">EN</span>
            </li>
            <li class="top__item"><div class="top__line"></div></li>
            <li class="top__item">
                <img class="top__icon" src="../../../../assets/images/info-circle.svg" alt="info-circle">
            </li>
            <li class="top__item"><div class="top__line"></div></li>
            <li class="top__item">
                <img class="top__icon" src="../../../../assets/images/close-icon.svg" alt="close-icon">
            </li>
        </ul>
    </div>
</div>