
<div class="finish">

    <div class="container" style="padding-top: 8rem;">

        <div class="row text-center">

            <div class="col-8 offset-2">
                <h1 class="finish__head mb-3" style="font-size: 32px; color: #363E59;">การสร้างบัญชีเบื้องต้นสำเร็จแล้ว</h1>

                <div class="finish__image mb-3">
                    <img class="image-fluid" src="../../../../../assets/images/finish-image-logo.svg" alt="">
                </div>

                <div class="finish__title w-75 mx-auto mb-5">
                    <span style="font-size: 18px; color: #888EA5;">ในการเริ่มต้นใช้งานผู้ใช้งานควรดำเนินการตามขั้นตอน การเปิดบัญชีผู้ใช้งานให้เสร็จสมบูรณ์ โดยดำเนินการตามขั้นตอนถัดไป</span>
                </div>

                <div class="btn btn-primary w-100 btn-lg" routerLink="/auth/login">เสร็จสิ้น</div>

            </div>

        </div>

    </div>

</div>