<div class="personal-face">


    <div class="container">

        <div class="row" style="padding-top: 5rem; height: 100vh;"> 

            <div class="col-10 col-sm-10 col-md-6 order-2 order-sm-1 offset-md-1 d-flex flex-column justify-content-between pb-5">
                <div class="personal-information__left">
                    <p class="personal-information__text-head mb-4" style="color: #363E59; font-size: 28px;">การบันทึกใบหน้า</p>

                    <small class="d-block mb-4" style="font-size: 1rem; color: #888EA5;">คุณกำลังเข้าสู่ขั้นตอนการยืนยันตัวตนด้วยภาพเคลื่อนไหว ซึ่งเป็นส่วนหนึ่ง ของกระบวนการยืนยันตัวตนผ่านระบบอิเล็กทรอนิกส์ (Electronic Know Your Customer : e-KYC) </small>

                    <p class="personal-information__text-head mb-4" style="font-size: 1.2rem; color: #363E59;">กรุณาเตรียมตัว</p>

                    <ul style="font-size: 1rem; color: #888EA5;">
                        <li class="mb-2">อยู่ในที่ที่มีแสงสว่างเพียงพอ</li>
                        <li class="mb-2">ถ่ายรูปให้ตำแหน่งตรงตามกรอบที่กำหนดไว้ให้</li>
                        <li class="mb-2">ภาพถ่ายต้องชัดเจน</li>
                        <li class="mb-2">กรุณาถอดแมส ไม่ใส่แว่น ไม่สวมหมวก</li>
                    </ul>

                </div>

                <div class="button-group">
                    <button class="btn btn-outline-primary btn-lg w-100">กลับ</button>
                    <button class="btn btn-primary btn-lg w-100" routerLink="/e-kyc/KycPage9">เริ่ม</button>
                </div>
            </div>

            <div class="col-md-3 order-1 order-sm-2 pe-md-0">
                <div class="personal-information__right">

                    <div class="progress-bars d-md-flex align-items-center p-3 shadow rounded d-none ">
                        <div class="progress-bar__left">
                            <img src="../../../../../assets/images/card-logo.svg" alt="">
                        </div>

                        <div class="progress-bar__right">
                            <p class="m-0" style="font-size: 14px; color: #888EA5;">การดำเนินการยืนยันตัวตนทั้งหมดของคุณ</p>
                            <p class="m-0" style="font-size: 18px; color: #363E59;;">ดำเนินการแล้ว 80%</p>
                            <div class="underline"></div>
                        </div>
                    </div>

                    <p class="personal-information__text-head" style="font-size: 1.2rem; color: #363E59;">ตัวอย่าง</p>

                    <p><img src="../../../../../assets/images/face-example.svg" alt=""></p>

                    <div class="helper rounded d-flex align-items-center p-3">
                        <div class="helper__left">
                            <img src="../../../../../assets/images/card-logo.svg" alt="">
                        </div>

                        <div class="helper__right">
                            <p class="m-0" style="font-size: 1rem; color: #888EA5;">คุณต้องการความช่วยเหลือใช่ไหม?</p>
                            <p class="m-0" style="font-size: .8rem; color: #363E59;">
                                <img src="../../../../../assets/images/Line.svg" alt="">แอด Line Official และติดต่อเจ้าหน้าที่</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>