<div class="row">
    
    <section class="terms col-md-8 offset-md-2">
    
        <div class="container pt-5 vh-100 overflow-hidden d-flex flex-column justify-content-around">
            
            <div class="col-12 d-flex flex-column h-auto">
                <p class="h2 align-self-md-center" style="color: #363E59; font-size: 24px;">Product Agreement</p>
                <span class="d-block mb-4" style="font-size: 12px; color: #888EA5;">Last updated: 12 March 2022</span>
            </div>
    
            <div class="col overflow-scroll position-relative mb-0 h-75">
                
    
                <p class="fs-5" style="font-size: 16px; color: #363E59;">Summary</p>
                <p style="font-size: 12px; color: #363E59;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    
                <p class="fs-5" style="font-size: 16px; color: #363E59;">Terms</p>
                <p style="font-size: 12px; color: #363E59;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p style="font-size: 12px; color: #363E59;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <p style="font-size: 12px; color: #363E59;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p style="font-size: 12px; color: #363E59;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo in numquam maiores vitae repellat magni ex, dicta ipsum consectetur facere qui, inventore, vel provident quo velit odio nemo quis minus?00.</p>
                <p style="font-size: 12px; color: #363E59;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore minus corrupti atque ex incidunt quis suscipit! Excepturi natus odio doloremque, veniam accusantium rem magni molestiae dolorum quibusdam dolore harum nemo?
                Facilis, atque sed accusantium natus pariatur saepe dignissimos voluptatum vero! Facere, repellendus ex eum illo tempora veritatis numquam consectetur dolore quos reiciendis, quis non molestiae, error hic repellat illum animi.
                Repudiandae dolore a, et odit atque corrupti blanditiis deleniti reprehenderit eos aperiam voluptas. Facere, quas! Aliquid magni sit vel, voluptatum iure nemo suscipit sunt eaque. Molestias alias voluptas nemo vero!
                Illum rerum ex alias non commodi maxime ratione. Numquam cupiditate eaque rerum nisi iusto ratione voluptatibus dolorum quam harum laboriosam. Vitae expedita distinctio autem cum sunt nobis? Quisquam, eum explicabo.
                Fugiat quasi non qui commodi obcaecati debitis, adipisci voluptates exercitationem blanditiis sunt sit nemo quidem? Voluptates magni dicta sunt, reprehenderit, minima, et alias magnam ad officiis id quas dolorum pariatur.
                Facere distinctio tenetur obcaecati corrupti aut, vero ipsam aliquid recusandae vel accusantium placeat cumque minus quia eveniet, tempore unde voluptatibus praesentium tempora ex dolorum cupiditate fugiat repudiandae corporis quis. Sint.
                Labore magni sequi voluptates, enim ab tempora eius quibusdam blanditiis odit neque tempore nulla recusandae corrupti minima nobis laborum libero aut incidunt doloremque architecto sed! Explicabo maiores voluptatibus quam necessitatibus!
                Aspernatur qui enim magni ab dolorem distinctio reiciendis libero ad! Amet a porro impedit libero aspernatur quasi, tempora delectus perferendis vero ex qui. Assumenda quas porro nam eos sequi! Tempore!
                Amet accusamus aliquam ut fugiat quaerat explicabo? Quia odit alias magnam expedita ducimus? Veritatis alias maiores tenetur? Libero corporis repudiandae a inventore iusto ipsam et iste! Deleniti atque rerum fugiat!
                Architecto eius delectus quas exercitationem hic harum alias impedit facilis quis? Quibusdam similique blanditiis enim laborum fuga explicabo excepturi hic iure reprehenderit maxime ipsa itaque, suscipit ad harum cumque impedit!
                Aliquam, recusandae perspiciatis? Vel nesciunt saepe ipsa blanditiis nemo recusandae exercitationem, magni impedit cumque similique officia quos corporis? Repellendus adipisci perspiciatis corrupti doloremque iure deleniti consectetur voluptates sunt excepturi error.
                Quidem vero reiciendis suscipit non neque </p>
                
            </div>
    
            <div class="col-12 d-grid d-md-flex justify-content-md-center pt-3 gap-2 pb-2">
                <button class="btn btn-primary btn-lg order-md-2 w-25" routerLink="/bank-account/KycPage13" style="background: #134A89;" type="button">ยินยอม</button>
                <button class="btn btn-outline-primary btn-lg order-md-1 w-25" type="button" routerLink="/">ปฎิเสธ</button>
              </div>
    
        </div>
    
    
    </section>
</div>
